@tailwind base;
@tailwind components;
@tailwind utilities;


.gridjs-wrapper {
    border-top-width: 0px;
}

.gridjs-pages .gridjs-paginations {

    border: 0px;

}
html, body {
    height: 100%;
    background-size: cover;
}

.h-128 {
    height: 32rem;
}